*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
    background-color: #252525;
}

.calculator{
    overflow: hidden;
    border: 5px solid gray;
    border-radius: 1rem;
    margin: 50px auto;
    width: 350px;
}

.display__result{
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border:none;
    background-color: white;
    color: #252525;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button{
    height: 60px;
    background-color: lightgray;
    border: 1px solid gray;
    background-color: transparent;
    font-size: 2rem;
    color: gray;
    transition background-color 0.5s;
}
.operator:hover, .decimal:hover, .number:hover{
    background-color: black;
}

.ac{
    background-color: rgb(186, 32, 32);
    color: white;

}
.ac:hover{
    background-color: lightcoral;
}

.equal{
    background-color: orange;
    color: white;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal:hover{
    background-color: rgb(237, 181, 78);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

